
.index-intro-in
  %br
  .index-intro-button
    = link_to "Add Team Members ", new_post_path, class: "button"
%br
%br
#post_show
  .post_image_description
    = link_to image_tag @post.avatar.url(:thumb)
    .description
      Details:
      = simple_format(@post.description)
  
  %h1= @post.name
  %br
  .text-info
    = simple_format(@post.status)
  .clearfix
    .post_data
      / %p.data
      /   = pluralize(@post.comments.count, "Comments")
      %br
      %br
      = link_to "Edit Teammate Descriptions", edit_post_path(@post), class: "data"
      = link_to "Delete Teammate Data", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data"





/ #comments
/   %p
/   = pluralize(@post.comments.count, "Review")
/   - @comments.each do |comment|
/     .comment
/       %p.username= comment.user.username
/       %p.content= comment.content

/   = render "comments/form"




/ @post.user&.username || 'N/A'